@import '../../variables.scss';

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 1rem 10rem;
	background-color: $primary-color;
	box-shadow: $box-shadow;
}

.navbarItems {
	display: flex;
	list-style: none;
}

.navItem {
	display: block;
	width: 100%;
	padding: 1.2rem 3rem;
	border-radius: $border-radius;
	transition: all .3s $timing-function;

	a {
		color: $light-grey;
		text-decoration: none;
		transition: all .3s $timing-function;
	}

	&:hover {
		background-color: darken($primary-color, 5);

		a {
			color: $white-color;
		}
	}
}
