@import '../../variables.scss';

.label {
	position: relative;
	padding-top: 2px;
	padding-left: 3.5rem;
	cursor: pointer;

	&:hover .checkmark {
		background-color: darken($light-grey, 8);
	}
}

.checkbox {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
	cursor: pointer;

	&:checked ~ .checkmark {
		background-color: $primary-color;

		&:after {
			display: block;
		}
	}
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 2.6rem;
	width: 2.6rem;
	background-color: $light-grey;
	border-radius: $border-radius;
	transition: all .3s;

	&:after {
		content: "";
		position: absolute;
		display: none;
		left: 9px;
		top: 3px;
		width: .8rem;
		height: 1.8rem;
		border: solid $white-color;
		border-width: 0 3px 3px 0;
		transform: rotate(45deg);
	}
}
